---
const pageTitle = "About Me";
const pageBlog = "My Astro Learning Blog";
const pageHome = "Home Page"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageHome}</title>
	</head>
	<body>
		<a href="/">{pageHome}</a>
		<a href="/about/">{pageTitle}</a>
		<a href="/blog/">{pageBlog}</a>
		<h1>Mircexe's Coolish Astro Site</h1>
	</body>
</html>
